<div class="container">
  <header class="flex space-between items-center">
    <h1 data-test="app-name">Kata Panier</h1>
    <nav>
      <a data-test="products-page-link" [routerLink]="['/products']" routerLinkActive="active">Produits</a>
      <a data-test="cart-page-link" class="cart-page-link" [routerLink]="['/cart']" routerLinkActive="active">Panier
        <span data-test="cart-items-count" *ngIf="cartItemsCount$ | async as count">{{ count }}</span></a>
    </nav>
  </header>

  <router-outlet></router-outlet>
</div>