.selected-category-label {
  font-weight: 600;
}

kc-ui-dropdown-select {
  margin-left: 1em;
}

button {
  border: none;
  font-family: inherit;
  font-size: .8rem;
  font-weight: 600;
  padding: .5em 1em;
  margin-left: 1em;
  background: #5ecbbb;
}

#category-selection {
  margin-bottom: 1.3em;
}

#products-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @media(min-width: 600px) {
    grid-template-columns: repeat(2, 1fr) ;
  }

  @media(min-width: 1240px) {
    grid-template-columns: repeat(3, 1fr) ;
  }
}
