.selected-category-label {
  font-weight: 600;
}

kc-ui-dropdown-select {
  margin-left: 1em;
}

button {
  border: none;
  font-family: inherit;
  font-size: .8rem;
  font-weight: 600;
  padding: .5em 1em;
  margin-left: 1em;
  background: #5ecbbb;
}

#category-selection {
  margin-bottom: 1.3em;
}
